[workspace]

members = [
    "tracing",
    "tracing-core",
    "tracing-attributes",
    "tracing-error",
    "tracing-flame",
    "tracing-futures",
    "tracing-tower",
    "tracing-log",
    "tracing-macros",
    "tracing-opentelemetry",
    "tracing-subscriber",
    "tracing-serde",
    "tracing-appender",
    "tracing-journald",
    "examples"
]

[patch.crates-io]
opentelemetry = { path = "../opentelemetry-rust" }
