[package]
name = "tracing-subscriber"
version = "0.2.0-alpha.5"
authors = [
    "Eliza Weisman <eliza@buoyant.io>",
    "David Barsky <me@davidbarsky.com>",
    "Tokio Contributors <team@tokio.rs>"
]
edition = "2018"
license = "MIT"
readme = "README.md"
repository = "https://github.com/tokio-rs/tracing"
homepage = "https://tokio.rs"
description = """
Utilities for implementing and composing `tracing` subscribers.
"""
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
    "asynchronous",
]
keywords = ["logging", "tracing", "metrics", "subscriber"]

[features]

default = ["env-filter", "smallvec", "fmt", "ansi", "chrono", "tracing-log", "json"]
env-filter = ["matchers", "regex", "lazy_static"]
fmt = ["registry"]
ansi = ["fmt", "ansi_term"]
registry = ["sharded-slab"]
json = ["tracing-serde", "serde", "serde_json"]

[dependencies]
tracing-core = "0.1.2"

# only required by the filter feature
matchers = { optional = true, version = "0.0.1" }
regex = { optional = true, version = "1" }
smallvec = { optional = true, version = "1"}
lazy_static = { optional = true, version = "1" }

# fmt
tracing-log = { version = "0.1", optional = true, default-features = false, features = ["log-tracer", "std"] }
ansi_term = { version = "0.11", optional = true }
chrono = { version = "0.4", optional = true }

# only required by the json feature
serde_json = { version = "1.0", optional = true }
serde = { version = "1.0", optional = true }
tracing-serde = { version = "0.1.0", optional = true }

# opt-in deps
parking_lot = { version = ">= 0.7, < 0.10", optional = true }

# registry
sharded-slab = { version = "0.0.8", optional = true }

[dev-dependencies]
tracing = "0.1"
log = "0.4"
tracing-log = { version = "0.1" }
criterion = { version = "0.3", default_features = false }

[badges]
azure-devops = { project = "tracing/tracing", pipeline = "tokio-rs.tracing", build = "1" }
maintenance = { status = "experimental" }

[package.metadata.docs.rs]
all-features = true

[[bench]]
name = "filter"
harness = false

[[bench]]
name = "fmt"
harness = false
