name: CI

on:
  push:
    branches:
    - master
  pull_request: {}

jobs:
  check:
    # Run `cargo check` first to ensure that the pushed code at least compiles.
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable, 1.39.0]
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        profile: minimal
    - name: Check
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --all --bins --examples --tests --benches

  cache-cargo-hack:
    runs-on: ubuntu-latest
    steps:
    - name: Fetch latest release version of cargo-hack
      run: |
        mkdir -p .github/caching
        curl -sL https://api.github.com/repos/taiki-e/cargo-hack/releases/latest | jq -r '.name' > .github/caching/cargo-hack.lock
    - name: Cache cargo-hack/bin
      id: cache-cargo-hack
      uses: actions/cache@v1
      with:
        path: ${{ runner.tool_cache }}/cargo-hack/bin
        key: cargo-hack-bin-${{ hashFiles('.github/caching/cargo-hack.lock') }}
    - name: Install cargo-hack
      if: "steps.cache-cargo-hack.outputs.cache-hit != 'true'"
      uses: actions-rs/cargo@v1
      with:
        command: install
        args: --root ${{ runner.tool_cache }}/cargo-hack --force cargo-hack

  cargo-hack:
    needs: cache-cargo-hack
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # cargo hack --feature-powerset will have a significant permutation
        # number, we can't just use --all as it increases the runtime
        # further than what we would like to
        subcrate:
        - tracing-attributes
        - tracing-core
        - tracing-futures
        - tracing-log
        - tracing-macros
        - tracing-serde
        - tracing-tower
        # tracing and tracing-subscriber have too many features to be checked by
        # cargo-hack --feature-powerset, combinatorics there is exploding.
        #- tracing
        #- tracing-subscriber
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
    - name: Fetch latest release version of cargo-hack
      run: |
        mkdir -p .github/caching
        curl -sL https://api.github.com/repos/taiki-e/cargo-hack/releases/latest | jq -r '.name' > .github/caching/cargo-hack.lock
    - name: Restore cargo-hack/bin
      uses: actions/cache@v1
      with:
        path: ${{ runner.tool_cache }}/cargo-hack/bin
        key: cargo-hack-bin-${{ hashFiles('.github/caching/cargo-hack.lock') }}
    - run: echo "::add-path::${{ runner.tool_cache }}/cargo-hack/bin"
    - name: cargo hack check
      working-directory: ${{ matrix.subcrate }}
      run: cargo hack check --feature-powerset --no-dev-deps

  cargo-check-tracing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        featureset:
        - ""
        - async-await
        - async-await std
        - async-await log-always
        - async-await std log-always
        - log-always
        - std log-always
        - std
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
    - name: cargo check
      working-directory: tracing
      run: cargo check --no-default-features --features "${{ matrix.featureset }}"

  cargo-check-subscriber:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        featureset:
        - ""
        - fmt
        - fmt ansi
        - fmt json
        - fmt json ansi
        - fmt registry
        - fmt env-filter
        - registry
        - env-filter
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
    - name: cargo check
      working-directory: tracing-subscriber
      run: cargo check --no-default-features --features "${{ matrix.featureset }}"

  test-versions:
    # Test against the stable, beta, and nightly Rust toolchains on ubuntu-latest.
    needs: check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable, beta, nightly, 1.39.0]
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        profile: minimal
    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: build
    - name: Run tests
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --all

  test-os:
    # Test against stable Rust across macOS, Windows, and Linux.
    needs: check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: build
    - name: Run tests
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --all

  features-stable:
    # Feature flag tests that run on stable Rust.
    needs: check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
    - name: "Test log support"
      run: (cd tracing/test-log-support && cargo test)
    - name: "Test static max level"
      run: (cd tracing/test_static_max_level_features && cargo test)
    - name: "Test tracing-core no-std support"
      run: (cd tracing-core && cargo test --no-default-features)
    - name: "Test tracing no-std support"
      run: (cd tracing && cargo test --no-default-features)
    - name: "Test tracing all features"
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: -p tracing --all-features

  features-nightly:
    # Feature flag tests for features that require nightly Rust.
    needs: check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        profile: minimal
    - name: "Test tracing-futures std::future support"
      run: (cd tracing-futures/test_std_future && cargo test)
    - name: "Test tracing-attributes async/await support"
      run: (cd tracing/test_static_max_level_features && cargo test)
    - name: "Test tracing-core no-std support"
      run: (cd tracing-attributes/test_async_await && cargo test)
    - name: "Test nightly-only examples"
      run: (cd nightly-examples && cargo test)

  style:
    # Check style.
    needs: check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        components: rustfmt
        profile: minimal
    - name: rustfmt
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check

  warnings:
    # Check for any warnings. This is informational and thus is allowed to fail.
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        components: clippy
        profile: minimal
    - name: Clippy
      uses: actions-rs/clippy-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --all --bins --examples --tests --benches -- -D warnings
